.App {
  padding: 5px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  margin: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

ul {
  margin: 5px;
}

p {
  margin: 5px 30px;
}

.unable {
  border: 2px solid red;
  border-radius: 3px;
}

.unable:focus {
  outline: 3.5px double rgba(255, 0, 0, 0.66);
}